

.container {
    background-color: black;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .red {  
    background-color: red;
    transition: all 0.3s;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .yellow { 
    background-color: yellow;
    margin: 10px 0; 
    transition: all 0.3s;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .green { 
    background-color: green;
    transition: all 0.3s;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .purple { 
    background-color: purple;
    transition: all 0.3s;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .container-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .selected {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    border: 2px solid #ffffff;
  }
  
  .luz:hover {
    box-shadow: 0 0 30px 10px rgb(255, 255, 255);
  }
  .post {
    width: 10px;
    height: 300px;
    background-color: black;
    margin: 0 auto;
  }
  